@import "variables";

input[type=text],
input[type=password] {
    padding: 4px 6px;
    border: 2px solid;
    border-color: $input-border;
    &:focus {
        outline: none;
        border-color: $input-focus-border;
    }
}

.form-control input[type=text],
.form-control input[type=password] {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.form-control label {
    margin: 0;
}

.form-actions {
    margin: 24px 0;
    text-align: right;
}