@import "compass";
@import "../sass/_variables";
@import "../sass/_mixins";

.btn {
    background: $button-bg;
    border: 2px solid $button-border;
    color: $button-color;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0, 0.075);
    padding: 6px 24px;

    &:hover {
        background: $button-hover-bg;
        border-color: $button-hover-border;
    }
    &:active {
        background: $button-active-bg;
        border-color: $button-active-border;
    }
    &:focus {
        @include tab-focus();
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-header {
    background-color: transparent;
    border-color: $body-bg;
    color: $body-bg;

    &:hover, &:active {
        background-color: transparent;
        border-color: $button-border;
        color: $button-bg;
    }
    &:focus {
        outline: none;
        border-color: $button-border;
        color: $button-bg;
    }
}